.button {
  background-color: #195fa6;
  border: none;
  padding: 0 18px;
  line-height: 55px;
  color:#ffffff;
  text-transform: uppercase;
  font-size: 24px;
  border-radius: 5px;
  font-weight: lighter;
}